/* all body font style  */

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


  body{
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
     margin-right: 100px;    
  }

  /* common button style  */

  .btn{
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FF900E;

  }
  .button-1, .banner-text{
    text-align: center;
  }
  section{
    margin-bottom: 50px;
  }
 .border-edit{
  border-left: 5px solid orange;
  padding-left: 10px;
 }

  /* first section.. */

  .banner-div{
    margin-bottom: 5%;
  }
 /* common image syle */
  .first-section img{
    width: 100%;
    height: auto;
  }


  
  /* second section.. */

   .team-mate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 10px;

  }


  .second-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 align-items: center;
 gap: 60px;

}

 /* third section.. */

 .third-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}